@import './whitespace-reset.css';

body {
  background-color: #333355;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Times New Roman';
  color: white;
  text-align: center;
}

header {
  margin: 22px 0 33px;
}

figure {
  position: relative;
  padding: 10px 10px 11px;
  background: white;
  border-radius: 3px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

figcaption {
  box-sizing: border-box;
  width: 300px;
  height: 175px;
  position: absolute;
  z-index: 2;
  padding: 10px;
  background-color: rgb(0, 0 ,0, .65);
  border-radius: 3px;
  color: white;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity .5s;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s;
}

#animals {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  justify-content: space-evenly;
}